<div id="printableArea">
  <div style="text-align: center; width: 220px;">
    <span style="font-family: Arial, sans-serif">
      <span>Departing</span> <span id="departureDay"><%= @booking.departure.strftime('%A') %></span><br />
      <strong id="departureDate" style="font-size:50px;"><%= @booking.departure.strftime('%d %b') %></strong><br />
      Arrived: <span id="arrivalDate"></span> <%= @booking.arrival.strftime('%a %d %b %Y') %>
    </span>
    <div class="name-reg">
      <span style="font-family: Arial, sans-serif"><%= @booking.last_name.capitalize %></span>
      <span style="font-family: Arial, sans-serif"><%= @booking.vehicle_reg %></span>
    </div>
    <strong style="font-size:16px; font-family: Arial, sans-serif">
      <%= @booking_unit %>
      <br />
      <span>Adult: <%= @booking.adults %></span> <span>Child: <%= @booking.children %></span> <span>Infant: <%= @booking.infants %></span>
      <br />
      ID: <%= @booking.anytime_booking_reference %> - <%= "£#{@booking.price_cents / 100.to_f}0" %>
    </strong><br>
    <strong style="font-size:16px; font-family: Arial, sans-serif"><%= @booking.pitch_name %></strong>
  </div>
</div>
<div class="controls-holder" style="display: flex; justify-content: center; margin-top: 20px">
  <div class="controls">
    <input type="number" name="" id="print_quantity" value="1">
    <button id="print-btn">Print</button>
  </div>
</div>
