<% content_for :head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.js"></script>
<% end %>

<div class="ui menu"  style="text-align: center">
  <%= link_to root_path, class: "item" do %>
    <h3><%= Date.today.strftime '%A %-d %B %Y' %></h3>
  <% end %>
  <div class="item">
    <div>
      Base<br><span class="sums" id="base">£0.00</span>
    </div>
    <input type="hidden" name="[booking]base_cents" id="base_cents" value="0">
  </div>
  <div class="item">
    <div>
      Party<br><span class="sums" id="party">£0.00</span>
    </div>
    <input type="hidden" name="[booking]party_cents" id="party_cents" value="0">
  </div>
  <div class="item">
    <div>
      Extras<br><span class="sums" id="addon">£0.00</span>
    </div>
    <input type="hidden" name="[booking]add_on_cents" id="add_on_cents" value="0">
  </div>
  <div class="item">
    <div>
      Disc<br><span class="sums" id="discount">£0.00</span>
    </div>
    <input type="hidden" name="[booking]discount_cents" id="discount_cents" value="0">
  </div>
  <div class="item">
    <div>
      Total<br><span class="sums" id="total">£0.00</span>
    </div>
    <input type="hidden" name="[booking]party_cents" id="party_cents" value="0">
  </div>

  <div class="right menu" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <%= link_to "Admin", admin_root_path, class: "item" %>
        <% end %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "item" %>
      <% end %>
  </div>
</div>
<div class="ui container">
  <form class="ui form" method="post" id="quick_book" action="<%= bookings_path %>" data-discounts="<%= @discounts %>">
    <div class="ui two column stackable grid container">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="eight wide column">
        <div class="three fields">
          <div class="six wide field">
            <label>Arrival</label>
            <div id="arrival_cal" class="ui calendar">
              <div class="ui input">
                <input data-error="arrival-error" id="arrival_date" value="<%= Date.today.strftime('%a %d/%m/%Y') %>" type="string" placeholder="Arrival Date" name="[booking]arrival" class="availability-update req dep">
              </div>
            </div>
            <div id="arrival-error" class="error"><%= @booking.errors.messages[:arrival][0] %></div>
          </div>
          <div class="four wide field">
            <label>Nights</label>
            <input id="nights" type="number" min="1" max="40" name="[booking]nights" value="1" class="availability-update party-price dep">
          </div>

          <div class="six wide field">
            <label>Departure</label>
            <div id="departure_cal" class="ui calendar">
              <div class="ui input">
                <input data-error="departure-error" type="text" id ="departure_date" readonly="true" name="[booking]departure" class="req"></input>
              </div>
            </div>
            <div id="departure-error" class="error"><%= @booking.errors.messages[:departure][0] %></div>
          </div>
        </div>
        <div class="one field">
          <label>Unit</label>
          <select data-error="unit_id-error" class="ui dropdown party-price req" id="unit-dropdown" name="[booking]unit_id">
            <option value="" disabled selected></option>
            <% @categories.each do |category| %>
              <% category['units'].each do |unit| %>
                <option data-category="<%= category['id'] %>" value="<%= unit['id'] %>"><%= unit['name'] %> (<%= category['name'] %>)</option>
              <% end %>
            <% end %>
          </select>
          <input type="hidden" id="category_id" name="[booking]category_id" value="<%= @categories[0]['id'] %>">
          <div id="unit_id-error" class="error"><%= @booking.errors.messages[:unit_id][0] %></div>
        </div>
        <div class="one unit-availability-holder"></div>
        <div class="one field">
          <label>Available Pitches</label>
          <select class="ui dropdown" disabled id="subunit-dropdown" name="[booking]subunit_id">
          </select>
          <input id="pitch_name" name="[booking]pitch_name" type="hidden">
        </div>
        <div class="three fields">
          <div class="field">
            <label>Adults</label>
            <input class="party-price" id="adults" type="number" min="0" max="40" name="[booking]adults" value=2>
          </div>
          <div class="field">
            <label>Children</label>
            <input class="party-price" id="children" type="number" min="0" max="40" name="[booking]children" value=0>
          </div>
          <div class="field">
            <label>Infants</label>
            <input class="party-price" id="infants" type="number" min="0" max="40" name="[booking]infants" value=0>
          </div>
        </div>
        <div id="extras" data-date="<%= @mid_year %>" data-extras="<%= @extras %>" data-prices="<%= @prices %>"></div>
          <div class="ui grid fields" id="addons"></div>
        <input type="hidden" name="[booking]extras" id="extras-input" value="">
        <div class="three fields">
          <div class="field">
            <label>Payment Amount</label>
            <select class="ui dropdown" name="[booking]payment_amount">
              <option value="full">Full</option>
              <option value="deposit">Depsoit</option>
              <option value="none">None</option>
            </select>
          </div>

          <div class="field">
            <label>Payment Type</label>
            <select class="ui dropdown" name="[booking]payment_type">
              <option value="phone">Phone</option>
              <option value="pdq">PDQ</option>
              <option value="cash">Cash</option>
            </select>
          </div>

          <div class="field">
            <label>Print Ticket</label>
            <select class="ui dropdown" name="[booking]print">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <%= link_to new_booking_path do  %>
              <div class="fluid ui negative button">Clear Form</div>
            <% end %>
          </div>
          <div class="field">
            <button id="add_booking" value="add_booking" class="fluid ui positive button" name="add_booking" type="submit" data-confirm="Are you sure you wish to proceed to payment? You will not be able to change these details again after progressing to the payment stage.">Quick Add to Anytime</button>
          </div>
        </div>
      </div>

      <div class="eight wide column">
        <div class="three fields">
          <div class="eight wide field">
            <label>Marketing Source</label>
            <select id="marketing_source_id" class="ui dropdown" name="[booking]marketing_source_id">
              <% @referrals.each do |referral| %>
                <option value="<%= referral['id'] %>"><%= referral['name'] %></option>
              <% end %>
            </select>
          </div>
          <div class="eight wide field">
            <label>Vehicle Reg</label>
            <input type="text" name="[booking]vehicle_reg" value="">
          </div>
        </div>
        <div class="three fields">
          <div class="four wide field">
            <label>Title</label>
            <select class="ui dropdown">
              <option value="2">Mr</option>
              <option value="1">Mrs</option>
              <option value="0">Miss</option>
            </select>
          </div>
          <div class="four wide field">
            <label>First Name</label>
            <input data-error="first_name-error" type="text" name="[booking]first_name" class="req" value="<%= @booking.first_name %>">
            <div id="first_name-error" class="error"><%= @booking.errors.messages[:first_name][0] %></div>
          </div>
          <div class="eight wide field">
            <label>Surname</label>
            <input data-error="last_name-error" type="text" name="[booking]last_name" value="<%= @booking.last_name %>" class="req">
            <div id="last_name-error" class="error"><%= @booking.errors.messages[:last_name][0] %></div>
          </div>
        </div>
        <div class="two fields">
          <div class="ten wide field">
            <label>Email Address</label>
            <input data-error="email-error" type="text" name="[booking]email" value="<%= @booking.email %>" id="email" class="req">
            <div id="email-error" class="error"><%= @booking.errors.messages[:email][0] %></div>
          </div>
          <div class="six wide field">
              <label>GDPR Permission</label>
              <select data-error="gdpr-error" id="gdpr" class="ui dropdown req" name="[booking]gdpr">
                <option value="false">No</option>
                <option id="gdpr-true" value="true">Yes</option>
              </select>
              <div id="gdpr-error" class="error"><%= @booking.errors.messages[:gdpr][0] %></div>
          </div>
        </div>
        <input id="customer_id" type="hidden" name="[booking]customer_id" value="">
        <div class="two fields">
          <div class="four wide field">
            <label>Postcode</label>
            <input data-error="postcode-error" type="text" name="[booking]postcode" value="<%= @booking.postcode %>" id="postcode" class="req">
            <div id="postcode-error" class="error"><%= @booking.errors.messages[:postcode][0] %></div>
          </div>
          <div class="twelve wide field">
            <label>Action</label>
            <button id="find_address" value="find_address" class="disabled fluid ui button" name="find_address" type="submit">Look Up Address</button>
          </div>
        </div>
        <div class="four wide column">
          <div class="address-holder" id="address-holder">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input data-error="address_1-error" type="text" name="[booking]address1" value="<%= @booking.address1 %>" class="req" placeholder="Address 1" id="address_1">
            <div id="address_1-error" class="error"><%= @booking.errors.messages[:address1][0] %></div>
          </div>
          <div class="field">
            <input type="text" name="[booking]address2" value="<%= @booking.address2 %>" placeholder="Address 2" id="address_2">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input type="text" name="[booking]city" value="<%= @booking.city %>" placeholder="Town/City" id="city">
          </div>
          <div class="field">
            <input type="text" name="[booking]county" value="<%= @booking.county %>" placeholder="County" id="county">
          </div>
        </div>
        <div class="one field">
          <select name="[booking]country" id="country" value="United Kingdom" data-error="country-error" class="req ui dropdown">
            <% @countries.each do |c| %>
              <option value="<%= c %>"><%= c %></option>
            <% end %>
          </select>
<!--           <input data-error="country-error" '' id="country" name="[booking]country" placeholder="Country" class="req"> -->
          <div id="country-error" class="error"><%= @booking.errors.messages[:country][0] %></div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Mobile Phone</label>
            <input type="text" name="[booking]mobile_phone" value="<%= @booking.mobile_phone %>">
          </div>
          <div class="field">
            <label>Home Phone</label>
            <input type="text" name="[booking]home_phone" value="<%= @booking.home_phone %>">
          </div>
          <div class="field">
            <label>Work Phone</label>
            <input type="text" name="[booking]work_phone" value="<%= @booking.work_phone %>">
          </div>
        </div>
        <div class="one field">
          <label>Housekeeping Note</label>
          <textarea rows="3" value="<%= @booking.housekeeping_note %>" name="[booking]housekeeping_note"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
