<% content_for :head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.js"></script>
<% end %>
<div class="ui container">
  <h1 class="ui header center aligned">
    <div class="content">
      <a href="/">
        Anytime Quick Book
        <div class="sub header">
          <%= Date.today.strftime('%d %b %Y') %>
        </div>
      </a>
    </div>
  </h1>
  <form class="ui form" method="post" id="quick_book" action="<%= bookings_path %>">
    <div class="ui two column stackable grid container">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="eight wide column">
        <div class="three fields">
          <div class="field">
            <label>Arrival</label>
            <div id="arrival_cal" class="ui calendar">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input data-error="arrival-error" id="arrival_date" value="<%= Date.today.strftime('%d/%m/%Y') %>" tabindex="1" type="string" placeholder="Arrival Date" name="[booking]arrival" class="availability-update req dep">
              </div>
            </div>
            <div id="arrival-error" class="error"><%= @booking.errors.messages[:arrival][0] %></div>
          </div>
          <div class="field">
            <label>Nights</label>
            <input id="nights" tabindex="2" type="number" min="0" max="40" name="[booking]nights" value=1 class="availability-update party-price dep">
          </div>

          <div class="field">
            <label>Departure</label>
            <input data-error="departure-error" type="date" tabindex="3" id ="departure_date" name="[booking]departure" class="req"></input>
            <div id="departure-error" class="error"><%= @booking.errors.messages[:departure][0] %></div>
          </div>
        </div>
        <div class="one field">
          <label>Unit</label>
          <select data-error="unit_id-error" class="ui dropdown party-price req" id="unit-dropdown" name="[booking]unit_id" tabindex="4">
            <option value="" disabled selected></option>
            <% @categories.each do |category| %>
              <% category['units'].each do |unit| %>
                <option data-category="<%= category['id'] %>" value="<%= unit['id'] %>"><%= unit['name'] %> (<%= category['name'] %>)</option>
              <% end %>
            <% end %>
          </select>
          <input type="hidden" id="category_id" name="[booking]category_id" value="<%= @categories[0]['id'] %>">
          <div id="unit_id-error" class="error"><%= @booking.errors.messages[:unit_id][0] %></div>
        </div>
        <div class="one unit-availability-holder"></div>
        <div class="one field">
          <label>Available Pitches</label>
          <select class="ui dropdown" disabled tabindex="5" id="subunit-dropdown" name="[booking]subunit_id">
          </select>
          <input id="pitch_name" name="[booking]pitch_name" type="hidden">
        </div>
        <h4>Party Members</h4>
        <div class="three fields">
          <div class="field">
            <label>Adults</label>
            <input class="party-price" id="adults" tabindex="6" type="number" min="0" max="40" name="[booking]adults" value=2>
          </div>
          <div class="field">
            <label>Children</label>
            <input class="party-price" id="children" tabindex="7" type="number" min="0" max="40" name="[booking]children" value=0>
          </div>
          <div class="field">
            <label>Infants</label>
            <input class="party-price" id="infants" tabindex="8" type="number" min="0" max="40" name="[booking]infants" value=0>
          </div>
        </div>
        <h4 id="extras" data-date="<%= @mid_year %>" data-extras="<%= @extras %>" data-prices="<%= @prices %>">Add Ons</h4>
        <div id="addons"></div>
        <input type="hidden" name="[booking]extras" id="extras-input" value="">
        <!-- <div class="three fields">
          <div class="field">
            <label>Type</label>
            <select class="ui dropdown">
              <option value="">Caravan</option>
              <option value="1">Motorcaravan</option>
              <option value="0">Trailer Tent</option>
            </select>
          </div>
          <div class="field">
            <label>Extra Car</label>
            <input id="extra-car" tabindex="2" type="number" min="0" max="40" name="[booking]extra_car" value=0>
          </div>
          <div class="field">
            <label>Gazebo</label>
            <input id="gazebo" tabindex="2" type="number" min="0" max="40" name="[booking]gazebo" value=0>
          </div>
        </div> -->

        <h4>Cost Breakdown</h4>
        <div class="five fields">
          <div class="field">
            <label>Base</label><span class="sums" id="base">£0.00</span>
            <input type="hidden" name="[booking]base_cents" id="base_cents" value="0">
          </div>
          <div class="field">
            <label>Party</label><span class="sums" id="party">£0.00</span>
            <input type="hidden" name="[booking]party_cents" id="party_cents" value="0">
          </div>
          <div class="field">
            <label>Add On</label><span class="sums" id="addon">£0.00</span>
            <input type="hidden" name="[booking]add_on_cents" id="add_on_cents" value="0">
          </div>
          <div class="field">
            <label>Discount</label><span class="sums" id="discount">£0.00</span>
            <input type="hidden" name="[booking]discount_cents" id="discount_cents" value="0">
          </div>
          <div class="field">
            <label>Total</label><span id="total">£0.00</span>
            <input type="hidden" name="[booking]price_cents" id="price_cents" value="0">
          </div>
        </div>
        <h4>Payment</h4>
        <div class="field">
          <select class="ui dropdown" tabindex="9" name="[booking]payment_type">
            <option value="deposit">Make Deposit Payment</option>
            <option value="full">Make Full Payment</option>
            <option value="paid-deposit">Paid Deposit via Cash/Card</option>
            <option value="paid">Full Payment Received: Cash</option>
            <option value="paid">Full Payment Received: Card</option>
          </select>
        </div>
        <div class="inline fields">
          <label>Print label after adding?</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="[booking]print" value="true">
              <label>Yes</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="[booking]print" checked="checked" value="false">
              <label>No</label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <button id="clear_form" value="cancel" class="fluid ui negative button" name="cancel" type="submit">Clear Form</button>
          </div>
          <div class="field">
            <button id="add_booking" tabindex="29" value="add_booking" class="fluid ui positive button" name="add_booking" type="submit" data-confirm="Are you sure you wish to proceed to payment? You will not be able to change these details again after progressing to the payment stage.">Quick Add to Anytime</button>
          </div>
        </div>
      </div>


      <div class="eight wide column">
        <div class="three fields">
          <div class="eight wide field">
            <label>Marketing Source</label>
            <select id="marketing_source_id" tabindex="10" class="ui dropdown" name="[booking]marketing_source_id">
              <% @referrals.each do |referral| %>
                <option value="<%= referral['id'] %>"><%= referral['name'] %></option>
              <% end %>
            </select>
          </div>
          <div class="eight wide field">
            <label>Vehicle Reg</label>
            <input tabindex="11" type="text" name="[booking]vehicle_reg" value="">
          </div>
        </div>
        <div class="three fields">
          <div class="four wide field">
            <label>Title</label>
            <select class="ui dropdown">
              <option value="">Mr</option>
              <option value="1">Mrs</option>
              <option value="0">Miss</option>
            </select>
          </div>
          <div class="four wide field">
            <label>First Name</label>
            <input data-error="first_name-error" tabindex="12" type="text" name="[booking]first_name" class="req" value="<%= @booking.first_name %>">
            <div id="first_name-error" class="error"><%= @booking.errors.messages[:first_name][0] %></div>
          </div>
          <div class="eight wide field">
            <label>Surname</label>
            <input data-error="last_name-error" tabindex="13" type="text" name="[booking]last_name" value="<%= @booking.last_name %>" class="req">
            <div id="last_name-error" class="error"><%= @booking.errors.messages[:last_name][0] %></div>
          </div>
        </div>
        <div class="one field">
          <label>Email Address</label>
          <input data-error="email-error" tabindex="14" type="text" name="[booking]email" value="<%= @booking.email %>" id="email" class="req">
          <div id="email-error" class="error"><%= @booking.errors.messages[:email][0] %></div>
        </div>
        <input id="customer_id" type="hidden" name="[booking]customer_id" value="">
        <div class="two fields">
          <div class="four wide field">
            <label>Postcode</label>
            <input data-error="postcode-error" tabindex="15" type="text" name="[booking]postcode" value="<%= @booking.postcode %>" id="postcode" class="req">
            <div id="postcode-error" class="error"><%= @booking.errors.messages[:postcode][0] %></div>
          </div>
          <div class="twelve wide field">
            <label>Action</label>
            <button id="find_address" tabindex="16" value="find_address" class="disabled fluid ui button" name="find_address" type="submit">Look Up Address</button>
          </div>
        </div>
        <div class="four wide column">
          <div class="address-holder" id="address-holder">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input data-error="address_1-error" tabindex="17" type="text" name="[booking]address1" value="<%= @booking.address1 %>" class="req" placeholder="Address 1" id="address_1">
            <div id="address_1-error" class="error"><%= @booking.errors.messages[:address1][0] %></div>
          </div>
          <div class="field">
            <input tabindex="18" type="text" name="[booking]address2" value="<%= @booking.address2 %>" placeholder="Address 2" id="address_2">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input tabindex="19" type="text" name="[booking]city" value="<%= @booking.city %>" placeholder="Town/City" id="city">
          </div>
          <div class="field">
            <input tabindex="20" type="text" name="[booking]county" value="<%= @booking.county %>" placeholder="County" id="county">
          </div>
        </div>
        <div class="one field">
          <select name="[booking]country" id="country" value="United Kingdom" data-error="country-error" tabindex="21" class="req ui dropdown">
            <% @countries.each do |c| %>
              <option value="<%= c %>"><%= c %></option>
            <% end %>
          </select>
<!--           <input data-error="country-error" tabindex="21" id="country" name="[booking]country" placeholder="Country" class="req"> -->
          <div id="country-error" class="error"><%= @booking.errors.messages[:country][0] %></div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Mobile Phone</label>
            <input tabindex="22" type="text" name="[booking]mobile_phone" value="<%= @booking.mobile_phone %>">
          </div>
          <div class="field">
            <label>Home Phone</label>
            <input tabindex="23" type="text" name="[booking]home_phone" value="<%= @booking.home_phone %>">
          </div>
          <div class="field">
            <label>Work Phone</label>
            <input tabindex="24" type="text" name="[booking]work_phone" value="<%= @booking.work_phone %>">
          </div>
        </div>
        <div class="one field">
          <label>GDPR Permission</label>
          <select data-error="gdpr-error" tabindex="25" id="gdpr" class="ui dropdown req" name="[booking]gdpr">
            <option value="false">No</option>
            <option id="gdpr-true" value="true">Yes</option>
          </select>
          <div id="gdpr-error" class="error"><%= @booking.errors.messages[:gdpr][0] %></div>
        </div>
        <div class="one field">
          <label>Customer Note</label>
          <textarea rows="3" tabindex="26" value="<%= @booking.customer_note %>" name="[booking]customer_note"></textarea>
        </div>
        <div class="one field">
          <label>Admin Note</label>
          <textarea rows="3" tabindex="27" name="[booking]admin_note" value="<%= @booking.admin_note %>"></textarea>
        </div>
        <div class="one field">
          <label>Housekeeping Note</label>
          <textarea rows="3" tabindex="28" value="<%= @booking.housekeeping_note %>" name="[booking]housekeeping_note"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>












