<% content_for :head do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.1/dist/semantic.min.js"></script>
<% end %>

<div class="ui container">
  <h1 class="ui header center aligned">
    <div class="content">
      <a href="/">
        Anytime Quick Book
        <div class="sub header">
          <%= Date.today.strftime('%d %b %Y') %>
        </div>
      </a>
    </div>
  </h1>
  <form class="ui form" method="post" id="quick_book" action="<%= bookings_path %>">
    <div class="ui two column stackable grid container">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="eight wide column">
        <div class="three fields">
          <div class="field">
            <label>Arrival</label>
            <div id="arrival_cal" class="ui calendar">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input id="arrival_date" tabindex="-1" type="string" placeholder="Arrival Date" value="" name="[booking]arrival" class="availability-update">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Nights</label>
            <input id="nights" tabindex="2" type="number" min="0" max="40" name="[booking]nights" value=1 class="availability-update party-price">
          </div>

          <div class="field">
            <label>Departure</label>
            <input type="date" tabindex="-1" id ="departure_date" name="[booking]departure" readonly="readonly"></input>
          </div>
        </div>
        <div class="one field">
          <label>Unit</label>
          <select class="ui dropdown party-price" id="unit-dropdown">
            <option value="" disabled selected></option>
            <% @categories.each do |category| %>
              <% category['units'].each do |unit| %>
                <option value="<%= unit['id'] %>"><%= unit['name'] %> (<%= category['name'] %>)</option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="one unit-availability-holder"></div>
        <div class="one field">
          <label>Available Pitches</label>
          <select class="ui dropdown" disabled id="subunit-dropdown">
          </select>
        </div>
        <h4>Party Members</h4>
        <div class="three fields">
          <div class="field">
            <label>Adults</label>
            <input class="party-price" id="adults" tabindex="2" type="number" min="0" max="40" name="[booking]adults" value=2>
          </div>
          <div class="field">
            <label>Children</label>
            <input class="party-price" id="children" tabindex="2" type="number" min="0" max="40" name="[booking]children" value=0>
          </div>
          <div class="field">
            <label>Infants</label>
            <input class="party-price" id="infants" tabindex="2" type="number" min="0" max="40" name="[booking]infants" value=0>
          </div>
        </div>
        <h4 id="extras" data-extras="<%= @extras %>">Add Ons</h4>
        <div id="addons"></div>
        <!-- <div class="three fields">
          <div class="field">
            <label>Type</label>
            <select class="ui dropdown">
              <option value="">Caravan</option>
              <option value="1">Motorcaravan</option>
              <option value="0">Trailer Tent</option>
            </select>
          </div>
          <div class="field">
            <label>Extra Car</label>
            <input id="extra-car" tabindex="2" type="number" min="0" max="40" name="[booking]extra_car" value=0>
          </div>
          <div class="field">
            <label>Gazebo</label>
            <input id="gazebo" tabindex="2" type="number" min="0" max="40" name="[booking]gazebo" value=0>
          </div>
        </div> -->

        <h4>Cost Breakdown</h4>
        <div class="five fields">
          <div class="field">
            <label>Base</label><span class="sums" id="base">£0.00</span>
          </div>
          <div class="field">
            <label>Party</label><span class="sums" id="party">£0.00</span>
          </div>
          <div class="field">
            <label>Add On</label><span class="sums" id="addon">£0.00</span>
          </div>
          <div class="field">
            <label>Discount</label><span class="sums" id="discount">£0.00</span>
          </div>
          <div class="field">
            <label>Total</label><span id="total">£0.00</span>
          </div>
        </div>
        <h4>Payment</h4>
        <div class="field">
          <select class="ui dropdown">
            <option value="">Make Deposit Payment</option>
            <option value="1">Paid Deposit via Cash/Card</option>
            <option value="2">Make Full Payment</option>
            <option value="3">Full Payment Received: Cash</option>
            <option value="4">Full Payment Received: Card</option>
          </select>
        </div>
        <div class="inline fields">
          <label>Print label after adding?</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="[booking]print" value="true">
              <label>Yes</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="[booking]print" checked="checked" value="false">
              <label>No</label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <button id="clear_form" tabindex="8" value="cancel" class="fluid ui negative button" name="cancel" type="submit">Clear Form</button>
          </div>
          <div class="field">
            <button id="add_booking" tabindex="8" value="add_booking" class="fluid ui positive button" name="add_booking" type="submit">Quick Add to Anytime</button>
          </div>
        </div>
      </div>


      <div class="eight wide column">
        <div class="three fields">
          <div class="eight wide field">
            <label>Marketing Source</label>
            <select class="ui dropdown">
              <% @agents.each do |agent| %>
                <option value="<%= agent['id'] %>"><%= agent['name'] %></option>
              <% end %>
            </select>
          </div>
          <div class="eight wide field">
            <label>Vehicle Reg</label>
            <input tabindex="2" type="text" name="[booking]vehicle_reg" value="">
          </div>
        </div>
        <div class="three fields">
          <div class="four wide field">
            <label>Title</label>
            <select class="ui dropdown">
              <option value="">Mr</option>
              <option value="1">Mrs</option>
              <option value="0">Miss</option>
            </select>
          </div>
          <div class="four wide field">
            <label>First Name</label>
            <input tabindex="2" type="text" name="[booking]first_name" value="">
          </div>
          <div class="eight wide field">
            <label>Surname</label>
            <input tabindex="1" type="text" name="[booking]last_name" value="" autofocus>
          </div>
        </div>
        <div class="one field">
          <label>Email Address</label>
          <input tabindex="1" type="text" name="[booking]email" value="" id="email">
        </div>
        <div class="two fields">
          <div class="four wide field">
            <label>Postcode</label>
            <input tabindex="2" type="text" name="[booking]postcode" value="" id="postcode">
          </div>
          <div class="twelve wide field">
            <label>Action</label>
            <button id="find_address" tabindex="7" value="find_address" class="disabled fluid ui button" name="find_address" type="submit">Look Up Address</button>
          </div>
        </div>
        <div class="four wide column">
          <div class="address-holder" id="address-holder">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input tabindex="2" type="text" name="[booking]address_1" value="" placeholder="Address 1" id="address_1">
          </div>
          <div class="field">
            <input tabindex="2" type="text" name="[booking]address_2" value="" placeholder="Address 2" id="address_2">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input tabindex="2" type="text" name="[booking]town_city" value="" placeholder="Town/City" id="city">
          </div>
          <div class="field">
            <input tabindex="2" type="text" name="[booking]county" value="" placeholder="County" id="county">
          </div>
        </div>
        <div class="one field">
          <label>Country</label>
          <select class="ui dropdown" id="country">
            <option value="United Kingdom">United Kingdom</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
          </select>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Mobile Phone</label>
            <input tabindex="2" type="text" name="[booking]mobile_phone" value="">
          </div>
          <div class="field">
            <label>Home Phone</label>
            <input tabindex="2" type="text" name="[booking]home_phone" value="">
          </div>
          <div class="field">
            <label>Work Phone</label>
            <input tabindex="2" type="text" name="[booking]work_phone" value="">
          </div>
        </div>
        <div class="one field">
          <label>GDPR Permission</label>
          <select class="ui dropdown">
            <option value="">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <div class="one field">
          <label>Customer Note</label>
          <textarea rows="3"></textarea>
        </div>
        <div class="one field">
          <label>Admin Note</label>
          <textarea rows="3"></textarea>
        </div>
        <div class="one field">
          <label>Housekeeping Note</label>
          <textarea rows="3"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
