<div class="container p40">
  <% if @payment_response %>
    <% if @payment_response['statusCode'] == '0000' %>
      <h4>Payment was successful</h4>
      <%= render 'booking' %>
    <% else %>
      <h4>Payment was unsuccessful</h4>
      <%= link_to 'Try again?', payment_booking_path(@booking) %>
    <% end %>
  <% else %>
    <%= render 'booking' %>
  <% end %>
</div>
<% if @booking.print %>
  <%= render 'print' %>
<% else %>
  <div class="flexy-row">
    <%= link_to root_path do %>
      <div class="btn btn-primary">
        New Booking
      </div>
    <% end %>
  </div>
<% end %>
